@model IPagedList<CustomerForm>


@{
    ViewBag.Title = "All Customers";
}

<div class="all-main-container">
    <hr />
    <div class="d-flex justify-content-center">
        <h4>@ViewBag.Title</h4>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Birthdate</th>
                        <th>Orders</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in @Model)
                    {
                        <tr>
                            <td>@person.FirstName</td>
                            <td>@person.LastName</td>
                            <td>@person.Email</td>
                            <td>@person.PhoneNumber</td>
                            <td>@person.Country</td>
                            <td>@person.City</td>
                            <td>@person.Birthday?.ToShortDateString()</td>
                            <td>
                                <a asp-controller="Product" asp-action="AllCustomerProducts" asp-route-id="@person.Id" class="btn btn-info btn-sm">View All</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="pull-right pagination">
        @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
    </div>

</div>

